body {
  font-family: Arial, sans-serif;
  background-color: #36464e;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.card {
  width: 11vw;
  height: 8vw;
  border-radius: 8px;
}

.line {
  width: 100%;
  height: 0;
  border: 1px solid white;
  border-radius: 5px;
}

.color_line {
  display: flex;
  gap: 1rem;
}

#red {
  background-color: red;
  align-self: flex-start;
}

#green {
  background-color: darkgreen;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#pink {
  background-color: #ffbfcd;
}

#purple {
  background-color: #ef83ef;
  align-self: flex-end;
}
